<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  
  <connectionStrings>
    <!--版本1-->
    <add name="connStr" connectionString="server=127.0.0.1;uid=sa;pwd=123456;database=StudentManagementSystem;"/>
    <!--版本2-->
    <!--<add name="connStr" connectionString="server=127.0.0.1;uid=sa;pwd=123456;database=S_C;"/>-->
  </connectionStrings>
  
</configuration>